/* Main CSS here*/

nav{
  .navbar-brand{
    text-transform: uppercase;
  }
}

.required{
  &:after{
    content: '*';
    color: red;
  }
}

.ErrorMessage{
 background-color:#FFDFDF;
 color:red;
 font-style: italic;
 font-size: 10px;
}

#Message{
  color: green;
  font-size: 30px;
}
